<h1>Users</h1>
<a data-popup-open="popup-1" href="#" class="btn btn-success">Create new user</a>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <td>Users</td>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <td>
          <a href="users/{{ id }}">{{ email }}
          <form action="/user/delete/{{ id }}?_method=DELETE" method="POST">
              <input type="hidden" name="_csrf" value="{{csrfToken}}">
              <input type="submit" class="btn btn-danger pull-right" value="Delete">
            <a href="user/edit/{{ id }}" class="btn btn-warning pull-right">Edit</a>
          </form>
        </td>
      </tr>
      {{/each}}
  </tbody>
</table>
<div class="popup" data-popup="popup-1">
  <div class="popup-inner">
    <h1>Create</h1>
    <form action="/user/create" method="POST">
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label>First name</label>
        <input type="text" class="form-control" name="fname" placeholder="First name">
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input type="text" class="form-control" name="lname" placeholder="Last name">
      </div>
      <div class="form-group">
        <select selected="" class="form-control course" name="role">
            <option disabled selected value> -- select an option -- </option>
            <option>user</option>
            <option>admin</option>
        </select>
      </div>
      <div class="form-group">
        <label for="psw">Password</label>
        <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
      </div>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button type="submit" class="btn btn-success" value="Submit">Submit</button>
    </form>
    <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
  </div>
</div>
